<h3 class="pb-4 mb-4 fst-italic border-bottom">
  Home > Add Comment
</h3>

<form>
  <div className="mb-3">
    <label For="contentTextarea1" className="form-label">Comment</label>
    <textarea class="form-control" id="contentTextarea1" rows="5"></textarea>
  </div>

  <div class="mb-3">
    <a href="/post-comment" class="btn btn-primary view-details">Submit</a>
  </div>
</form>