{{#if logged_in}}
{{#each blogs as |blog|}}

<div class="mb-3">
  <a href="/update-post/{{title.id}}" class="btn btn-primary">{{title}}</a>
</div>
{{/each}}
{{/if}}
<form>
  <div class="mb-3">
    <a href="/create-post" class="btn btn-primary">+New Post</a>
  </div>
</form>