<h3 class="pb-4 mb-4 fst-italic border-bottom">
  Please Sign Up
</h3>

<form>
  <div class="mb-3 col-md-3">
    <label for="InputFirstName1" class="form-label">First Name</label>
    <input type="text" class="form-control" id="InputFirstName1" aria-describedby="FirstNameHelp">
    <div id="FirstNameHelp" class="form-text"></div>
  </div>
  <div class="mb-3 col-md-3">
    <label for="InputLastName1" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="InputLastName1" aria-describedby="LastNameHelp">
    <div id="LastNameHelp" class="form-text"></div>
  </div>
  <div class="mb-3 col-md-3">
    <label for="InputUsername1" class="form-label">Username</label>
    <input type="text" class="form-control" id="InputUsername1" aria-describedby="UserameHelp">
    <div id="UsernameHelp" class="form-text"></div>
  </div>
  <div class="mb-3 col-md-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <a class="p-2 link-dark hover-effect" href="#">Login Instead</a>
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>