<h3 class="pb-4 mb-4 fst-italic border-bottom">
  Dashboard > Update Post
</h3>

<form>
  <div class="mb-3 col-md-3">
    <label for="InputTitle1" class="form-label">Title</label>
    <input type="text" class="form-control" id="InputTitle" aria-describedby="FirstNameHelp">
    <div id="FirstNameHelp" class="form-text"></div>
  </div>
  <div className="mb-3">
    <label For="contentTextarea1" className="form-label">Content</label>
    <textarea class="form-control" id="contentTextarea1" rows="5"></textarea>
  </div>

  <div class="mb-3">
    <a href="/update-post/{{title.id}}" class="btn btn-primary view-details">Update Post</a>
  </div>
  <div class="mb-3">
    <a href="/delete-post/{{title.id}}" class="btn btn-primary view-details">Delete Post</a>
  </div>
</form>